<!DOCTYPE html>
<html>
	<head>
		<title>ASSIGNMENT 2 - ARTS</title>
	</head>
	<body>
		<center> 
			<!-- MY ART -->
			<a href="../index.html">BACK</a>
			<h2>ART CROPS</h2>
			<figure>
				<img src="../images/arttwins.png" width=380px height=206px alt="A drawing of two pink haired twins in armor with gold and rose imagery.">
				<figcaption>Commission of two twins, one knight and one prince.<br>
				This is my most detailed character piece yet.<br>
				You can't see it because it's a crop but trust me.</figcaption>
			</figure>
			<br>

			<figure>
				<img src="../images/artcliff.png" width=380px height=206px alt="A drawing of three kids resting in the shade of a cliffside.">
				<figcaption>These are my characters who do a lot of adventuring.<br>
				Guess this is a rest stop?</figcaption>
			</figure>
			<br>

			<figure>
				<img src="../images/artconcert.png" width=380px height=206px alt="A drawing of three kids in front of a bright concert hall.">
				<figcaption>They're actually at Carnagie Hall!<br>
				Fun fact, I didn't recognize Carnagie Hall when I saw it in real life<br>
				but I was inspired by it anyways because I thought it looked like<br>
				the outside of a crypt or something.</figcaption>
			</figure>
			<br>

			<figure>
				<img src="../images/artstation.png" width=380px height=206px alt="A drawing of an urban train station at night.">
				<figcaption>I based this picture off of the Coney Island station at 7PM!<br>
				I was struck by the murky color of the sky. Couldn't capture it in the end though.</figcaption>
			</figure>
			<br>

			<figure>
				<img src="../images/artegg.png" width=380px height=206px alt="A drawing of a kid and a witch inspecting some eggs in a dark, damp house.">
				<figcaption>A still from an animated short I did about a witch gathering ingredients.<br>
				The one on the left is an egg witch and the one on the right is a lizard witch.</figcaption>
			</figure>
			<br>
			<a href="../index.html">BACK</a>
		</center>
	</body>
</html>
